
<a routerLink="/about" class="main-side-left" style="margin-left: 10px">ABOUT US</a>
<div class="main-pic">
  <img src="https://psv4.userapi.com/c536236/u236502997/docs/d5/1888aa4ef8e3/pic.png?extra=VObHcIQSiy-x0oAAZb2HAeg9RGazKXiCqwBYURXHdUmQzaMmf6GPcwIeydssMJPIdxjla_XIs9NVLd_flNbfGpsWl3sgDZfPXR7CgffTjRIVENKvaeKFhFfXvR3E2tngrm9gG2PQksug9_h2YwtNe_k" style="max-width: 70%; height: auto; display: block; margin-left: auto; margin-right: auto" alt="">
  <div class="main-pic-text">D.A.D of WEB</div>
</div>
<a routerLink="/examples" class="main-side-right">PORTFOLIO EXAMPLES</a>
<a class="main-side-bottom" routerLink="/create">CREATE PORTFOLIO</a>
