<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--  <meta charset="UTF-8">-->
<!--  <title>Title</title>-->
<!--  <link rel="stylesheet" href="home.component.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="header">-->
<!--  <h3 class="header items logo" href="" style="margin-left: 10px">GOOD GUYS</h3>-->
<!--  <a class="header items menu" routerLink="/create">CREATE PORTFOLIO</a>-->
<!--  <a class="header items projects" style="margin-right: 10px" routerLink="/login">LOG IN / REGISTER</a>-->
<!--</div>-->
<!--<div class="main">-->
<!--  <a class="main-side-left" style="margin-left: 10px" routerLink="/about">ABOUT US</a>-->
<!--  <div class="main-pic">-->
<!--    <img src="../../assets/pic.jpg" style="max-width: 70%; height: auto; display: block; margin-left: auto; margin-right: auto" alt="">-->
<!--    <div class="main-pic-text">COOL GUYS</div>-->
<!--  </div>-->
<!--  <a class="main-side-right" routerLink="/examples">PORTFOLIO EXAMPLES</a>-->
<!--</div>-->
<!--</body>-->
<!--<router-outlet></router-outlet>-->
<!--</html>-->
